<!<div class="container-fluid">
    <div class="row">

        <div class="well well-lg aboutmll col-md-8">
            <h2><i> Terms & Conditions</i></h2>
            <p>
                Thanks for your interest in submitting your music to the Independent Music Library,
                an exciting new music project at Northeastern University.
                We are gathering some great independent music for NU students to work with.
                Here’s some information about the Independent Music Library:
                <br>
                <br>
                <ul>
            <li>You must be an independent artist to participate (i.e., not signed to a record label)</li>
            <li>All songs must be original to you (i.e., no covers)</li>
            <li>You retain all rights to your music.</li>
            <li>Music in the library will NOT be commercially exploited.</li>
            <li>The music in the library will be used for educational purposes by NU students and faculty.</li>
            <li>Eventually, we want to establish a licensing program to place your music in movies,
                television shows, video games and commercials, however,
                we’re not even close to launching the Licensing Program.
                For now, we’re just trying to gather some great independent music
                into our library for NU students to work with</li>
            <li>Before we actually launch any Music Licensing Program, we’ll ask you if you want to be included.</li>
            <li>Participation in the Music Licensing Program will be voluntary and
                non-exclusive and you will retain all rights in your music.</li>
            <li>You will be free to withdraw your music at any time.</li> </ul>
                One of our long term goals is to launch the first student run music Licensing Program in the country so students can place great independent music in all manner of media, including movies, television shows, video games and commercials.
                <br>
                <br>
                Participation in the ML-Lab is non-exclusive, you retain all rights in your music, and you are free to withdraw from Licensing Program at any time.
                <br>
                <br>
                We are anxious to get your feedback about your experience with the Platform, so we ask that you send any feedback and bug reports promptly so that we can improve the Platform.
                <br>
                <br>
                Thanks for your participation in this exciting, one-of-a-kind initiative.
            </p>
            <br>
            <button class="btn btn-block btn-primary" ng-click="ctrl.submit()">Continue</button>
        </div>
    </div>
</div>